:root {
  /* Colors */
  --white: #fff;
  --gray0: #f4f6f8;
  --gray1: #d8dadb;
  --gray2: #737475;
  --gray3: #414242;
  --gray4: #eceef0;
  --background1: #f5f6f8;

  /* Shadows */
  --cardShadow: 0px 9px 15px -9px rgba(0, 0, 0, 0.12);
}

body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
